<h3 class="page-title">Dados prinicipais da Marca</h3>
<form [formGroup]="marcaForm" (submit)="onSave()">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <app-field label="Nome" required="true">
            <input type="text" class="form-control" formControlName="nome">
          </app-field>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6">
            <app-field label="Origem" required="true">
              <input type="text" class="form-control" formControlName="origem">
            </app-field>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <button class="btn btn-primary mr-1" [routerLink]="['/marca/editar', marca.id]" *ngIf="marcaForm.disabled">
          <i class="fa fa-edit"></i> Editar
        </button>

        <button class="btn btn-success mr-1" *ngIf="!marcaForm.disabled">
          <i class="fa fa-paper-plane"></i> Salvar
        </button>

        <button class="btn btn-light" routerLink="/marca">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</form>
